@property --angle {
	syntax: '<angle>';
	initial-value: 90deg;
	inherits: true;
}

@property --gradX {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: true;
}

@property --gradY {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: true;
}


:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #ff4656;
	--c2: #a8efff1a;
}

.wrapper {
	min-width: min(40rem, 100%);
}

.conic,
.radial {
	border: 0.35rem solid #a8efff1a;
}

.conic:hover {
	font-size: 3vw;
	border: 0.35rem solid;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

.radial:hover {
	border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
	animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}

	40% {
		--gradX: 100%;
		--gradY: 100%;
	}

	60% {
		--gradX: 50%;
		--gradY: 100%;
	}

	80% {
		--gradX: 0%;
		--gradY: 50%;
	}

	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}